{% extends "base.html" %}

{% block content %}
<div class="feed">
  {% for object in object_list %}
  <div class="post">
    <div class="item">
      <a class="link" href="{{ object.get_absolute_url }}">{{ object.title }}</a> от {{ object.created_at }}<br>
      В блоге <a class="link" href="{{ object.blog.get_absolute_url }}">{{ object.blog }}</a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
